:root {
    --main-color: black;
    --accent-color: red;
    font-family: sans-serif;
}

body {
    margin: auto;
}

header .logo {
    font-family: broadway, sans-serif;
    font-size: 3rem;
    text-align: center;
    padding: 50px 0 75px 0;
}

.header-nav {
    padding: 80px 0 100px 0;
}

header .header-banner {
    background-image: url(../img/007-main.jpg);
    background-position: center;
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: red;
    border-width: 10px;
    border-style: solid;
    border-radius: 15%;
}

#chosen {
    color: red;
    font-family: broadway, sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: broadway, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 200px;
}

.smaller-image {
    width: 150px;
    height: 200px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.black-border {
    border-color: black;
    border-width: 10px;
    border-style: solid;
    border-radius: 15%;
}

p {
    width: 150px;
    height: 200px;
}

.cards {
    display: flex;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

.cards {
    width: 1500px;
    height: 1300px;
}

#connery {
    grid-column-start: 5;
    grid-row-start: 1;
}

#niven {
    grid-column-start: 3;
    grid-row-start: 3;
}

#lazenby {
    grid-column-start: 2;
    grid-row-start: 6;
}

#moore {
    grid-column-start: 4;
    grid-row-start: 8;
}

#dalton {
    grid-column-start: 6;
    grid-row-start: 8;
}

#brosnan {
    grid-column-start: 8;
    grid-row-start: 6;
}

#craig {
    grid-column-start: 8;
    grid-row-start: 3;
}

#who {
    grid-column-start: 5;
    grid-row-start: 5;
}
